/* .fb1 {
    height: 100%;
} */
body {
    background-image: url('../src/assets/GetDrivingNowBackground.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

@media screen and (max-width: 600px) {
    body {
        /* background-color: olive; */
        background-image: url("../src/assets/GDNhomemobilebackground.png");
    }
}

.fb1 {
    background: url('./assets/formbackground-1.png');
    position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.fb2 {
    background: url('./assets/formbackground-2.png');
    position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.fb3 {
    background: url('./assets/formbackground-3.png');
    position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.fb4 {
    background: url('./assets/formbackground-4.png');
    position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.congratulations {
    background: url('./assets/formbackground-5.png');
    position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.aboutUs {
    background: url('./assets/GDNplainbackground.png');
    position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.navbar {
    background-color: #ffc600;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffc600;
    /* color: white; */
}

.button {
    margin-top: 1em;
}

.login {
    background: url('./assets/GDNLoginSignupbackground.png');
    position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.signup {
    background: url('./assets/GDNLoginSignupbackground.png');
    position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.applyNowBtn {
    text-align: center;
    margin-top: 20%;    
}
